@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{

    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0.00) 0%, rgba(1, 1, 1, 0.16) 100%), #FFF;

} 
 
nav{
    background: #000;
    width: auto;
    height: 40px;
    border-radius: 30px;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
} 
 
nav > a{
    color: #FFFFFF;
    margin-right: 2rem;
    
} 

.header-content{
    margin-top: 30px;
} 

.header-content > nav{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: clamp(0.6rem, 1.2vw, 1.7rem);
    font-family: 'Montserrat';
    padding: 10px;
} 

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 15vw;
    font-family: 'Montserrat';
} 

.content > h2{ 
    font-family: 'Advent Pro';
    font-weight: 400;
    font-size: 29px;
} 
.content > h1{
    background: linear-gradient(294deg, #1F1A1A 9.31%, #AF3599 75.83%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
    text-align: center;
}
.icons-hero{ 
    justify-content: center; 
    align-items: center; 
} 
.icons-hero  img { 
    margin: 20px; 
    width: 2rem; 
    height: auto; 
}
.content-about{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    background-color: #570656;
    color: #E5CFCF;
    font-family: 'Open Sans';
    font-size: 16px;
    gap: 30px;
    padding: 20px;

}

.content-about > h2{
    font-family: 'Montserrat';
    letter-spacing: 5.561px;
}

.btn > button {
    border: none;
    background-color: transparent;
    color: #E5CFCF;
    padding: 10px 20px;
    border-left: 2px solid #E5CFCF;
    border-right: 2px solid #E5CFCF;
    font-family: 'Montserrat';
    cursor: pointer;
}

.content-about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: 340;
}

.title{
    margin: 10vh auto;
    display: flex;
    padding: 10px;
    border-radius: 6px;
    font-family: 'Montserrat';
    letter-spacing: 8px;
    justify-content: center;
    border: 4px solid transparent;
    border-image: linear-gradient(294deg, #1F1A1A 9.31%, #AF3599 75.83%) 1;
    width: 40vw;

}
.title h1{
    background: linear-gradient(294deg, #1F1A1A 9.31%, #AF3599 75.83%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: clamp(16px, 2vw, 25px);
    text-align: center;
}
.btn-2 > button {
    border: none;
    background-color: transparent;
    color: #000000;
    padding: 10px 20px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    font-family: 'Montserrat';
    cursor: pointer;
    margin-top: 8vh;
} 
.about-me-resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.icons{
    display: flex;
    flex-direction: row;
    margin:80px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}
.icon img{
    width: auto;
    height: 70px;
}

.icon{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 18px;
}
.content-skills{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 5.561px;
}

.portfolio-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.portfolio-group img{
    width: 30vw;
    height: 70%;
    margin-top: 8px;
}
.project{
    text-align: center;
    padding: 10px;
    align-items: center;
    font-family: 'Advent Pro';
    color: #1F1A1A;
    font-family: 300;
}

.subtitle{
    font-family: 'Open Sans';
    color: #000;
    font-size: 16px;
    text-align: center;
    font-weight: 350;
}
.campos{
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.label{
    border: 2px solid #570656;   
    border-radius: 6px;          
    padding: 10px;               
    width: 60%;                 
    margin-bottom: 15px;         
    outline: none; 
    background-color: transparent;
        
}

textarea{
    border: 2px solid #570656;   
    border-radius: 6px;          
    padding: 10px;               
    width: 60%;                 
    margin-bottom: 15px;         
    outline: none;
    resize: none;
    background-color: transparent;
}

input::placeholder{
    color:#776f6f;
    font-family: 'Montserrat';
    
}
textarea::placeholder{
    color:#776f6f;
    font-family: 'Montserrat';
    justify-content: center;
}

input[type="submit"] {
  border: none;
  background-color: transparent;
  color: #570656;
  padding: 10px 20px;
  border-left: 2px solid #570656;
  border-right: 2px solid #570656;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin-top: 2vh;

}
.content-footer{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #570656;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E5CFCF;
    font-family: 'Open Sans';
    margin-top: 30px;
    padding: 20px;
}
.content-footer > button{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #E5CFCF;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2.781px;
    align-items: center;

}
button > img{
    width: 1rem;
}


